
nav ol li a {
  color: var(--col-05);
  text-decoration: none;
  cursor: pointer;
  border-radius: 0.5rem;
  padding: 0.3rem;
}

/*In addition to settin the mouse hover to change the color effect, I also added a transition time of 0.5s, 
which is to reduce the user's sense of abruptness and give the user some thinking time.*/
/*Also, considering that users may quickly hover back and forth over the 6 buttons, which take up more area of this page,  
adding transition time can reduce the clutter of the page.*/
nav ol li a:hover{
  background-color: var(--col-03);
  transition: 0.5s;
  transform: translateX(100%);
}
nav ol li a:active{
  background-color: var(--col-02);
}

/* In addition to setting the mouse hover to change color, I added a background color for this button. This is because 
the button is sticky on the page and its position does not change with mouse scrolling. Adding a background color prevents 
it from mixing with the body text, which allows the user to find the Mode button faster and improves the user experience. */
#mode-button{
  background-color: var(--col-03);
  border: 0;
  color: var(--col-05);
  text-decoration: none;
  cursor: pointer;
  font-size: 0.8rem;
  width: 5rem;
  padding: 0.2rem;
  border-radius: 0.3rem;
}
#mode-button:hover{
  background-color:#F2C1B6 ;
}

a{
  color: #D96941;
}