/*
  This one CSS file is imported into both index.html AND hosono.html so you need to be careful that it 
  works for both.
*/

*{
  box-sizing: border-box;
  background-origin: border-box;
  margin: 0;
}

:root{
  /* first two colours come from Kuroi's Manga Pallete Palette */
  /* https://lospec.com/palette-list/manga-pallete */
  --col-01:#F2DDD5;
  --col-02:#F2C1B6;
  --col-03:#D96941;
  --col-04:#627369;
  --col-05:#284030;
  font-size: 16px;
  /* scroll behaviour makes the <a> links to ids scroll to position over time rather than immediately */
  scroll-behavior: smooth;
}

body{
  padding: 1rem;
  background-color: var(--col-01);
  color: var(--col-05);
  /* I also added transition effects to the overall page, which can make the transition between pages smoother and more natural for users.
   It also enhances the visual appeal of the page, and the page is more attractive and aesthetically pleasing. Thus enhancing the user experience*/
  transition: color 1s ease-out;
  transition: background-color 1s ease-out;
}

nav {
  margin-top: 1rem;
}

nav li{
  font-size: 1rem;
  padding: 0.3rem;
}

section{
  margin-bottom: 2rem;
}

h1{
  font-size: 3rem;
}

h2{
  font-size: 2rem;
}

p{
  font-size: 1rem;
  margin-top: 1rem;
}

figcaption{
  width: fit-content;
}

dl ul{
  margin-bottom: 0;
}

li{
  font-size: 1rem;
}

dd{
  padding-left: 60px;
}

li ul{
  padding-left: 40px;
}

.img-wrapper{
  width: 100%;
  margin-bottom: 1.5rem;
}

.img-figure{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.article-img{
  width: 80%;
}

.res-columns{
  column-width: 25rem;
}

#mode-button{
  float: right;
  /* note the use of position: sticky to keep the button on the page even with scrolling */
  position: sticky;
  top: 1rem;
}

/* code for loading page */

#load-body{
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.wrapper{
  border: 1px solid var(--col-03);
  width:8rem;
  border-radius: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  height: 1rem;
}

#load-link{
  border:0;
  background-color: transparent;
  color: var(--col-05);
  cursor: pointer;
}

/* When the user hovers over the link, the link will change color to remind the user that 1) the link is clickable. 
2) The web page will change when clicked, which can provide a clearer interactive indication for the user。 */
#load-link:hover{
  color: var(--col-03);
}
#load-link:active{
  color:var(--col-02)
}
#load-throbber{
  height:100%;
  border-radius: 5px;
  background-color: var(--col-03);
  animation: loading 10s infinite ease-out;
  display: none;
  justify-self:flex-start
}

/* I designed the loading animation as a short to long progress bar with a border to remind the user 
how much time is left for the page to load and to alert them that a page switch will occur. */
@keyframes loading {
  from{width:0;}
  to{width: 10rem;}
}

/* Media Queries */

/* medium devices 600 - 992 */
@media only screen and (min-width: 600px) {
  :root{
    font-size: 20px;
  }
  
  .img-wrapper{
    width: 75%;
    margin: 1.5rem auto;
  }

}

/* medium devices 992 + */
@media only screen and (min-width: 992px) {
  :root{
    font-size: 24px;
  }

  .img-wrapper{
    max-width: fit-content;
    float: right;
    margin: 1.5rem;
  }

}

@media (prefers-reduced-motion) {
  :root{
    scroll-behavior: auto;
  }
}
